=box-shadow($mau:#8c8c8c)
	-webkit-box-shadow: 0px 0px 0px 2px rgba($mau,1)
	-moz-box-shadow: 0px 0px 0px 2px rgba($mau,1)
	box-shadow: 0px 0px 0px 2px rgba($mau,1)
.box-shadow-1
	+box-shadow(#888)
.box-shadow-2
	+box-shadow(#3baad4)
.box-shadow-3
	+box-shadow(#32af32)
.grey
	background: #888
.blue
	background: #3baad4
.green
	background: #32af32
