extends layout

block content
	.container-fluid
		.row.home-task
			.col-12.col-lg-4
				.home-task-box.box-shadow-1
					.home-task-box-head.grey
						h4 Task
						button.btn.btn-primary(type='button')
							i.fas.fa-sync
					.home-task-box-body
						.container
							.row
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
			.col-12.col-lg-4
				.home-task-box.box-shadow-2
					.home-task-box-head.blue
						h4 Progress
						button.btn.btn-primary(type='button')
							i.fas.fa-sync
					.home-task-box-body
						.container
							.row
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
									
			.col-12.col-lg-4
				.home-task-box.box-shadow-3
					.home-task-box-head.green
						h4 Finish
						button.btn.btn-primary(type='button')
							i.fas.fa-sync
					.home-task-box-body
						.container
							.row
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
								.col-12
									.home-task-box-item
										p Lorem ipsum dolor
