doctype html
html
	head
		title #{title} - FullStack Vietnam
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.css' )
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

	body
		header
			.navbar
				.navbar-brand
					a(href="/")
						img(src="./img/logo.png", alt="logo").img-fluid
						span Kaiser-Wilhelm
				.navbar-nav
					.nav
						ul.list-inline
							li.list-inline-item
								form
									.form-group
										input#InputKey.form-control(type='text', placeholder='Tìm kiếm')
							li.list-inline-item
								a(href="#")
									p.text-username Kaiser Wilhem
							li.list-inline-item
								a(href="#")
									i.fa.fa-user-circle
		main.py-3
			.container-fluid.no-gutters
				.row.no-gutters
					.col-3.col-sm-2.col-md-1.side-bar
						ul.list-unstyled
							li
								a(href="/")
									i.fas.fa-th
							li
								a(href="/addTask")
									i.fas.fa-plus
							li
								a(href="/users")
									i.fas.fa-user
							li
								a(href="/setting")
									i.fas.fa-cog 
							li
								a(href="#")
									i.fas.fa-save
							li
								a(href="#")
									i.fas.fa-question
					.col
						block content
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script(src="/js/main.js")
		

