<li class="home-task-box-item-grey box-shadow-4 status-grey">
	<div class="right-arrow"><a href="#"><i class="fas fa-angle-right"></i></a></div>
	<div class="box-item-header">
		<div class="part-1">
			<div class="text-title"><a href="#">K-DB-9: <span>Lorem ipsum dolor sit </span></a></div>
			<div class="open-file">
				<div class="upload-btn-wrapper"><button class="btn">View PDF<i class="fas fa-file-pdf"></i></button><input type="file"
					 name="myfile"></div>
			</div>
		</div>
		<div class="part-2">
			<div class="priority-task">
				<p class="priority-text">Gấp</p>
			</div>
			<div class="arrow-toggle"><a href="#"><i class="fas fa-angle-down"></i></a></div>
		</div>
	</div>
	<div class="box-item-show hide">
		<div class="box-item-show-part-1"><i class="fas fa-briefcase">
				<p class="status-1">chưa xác định</p>
			</i>
			<p class="status-2">chưa xác định</p>
			<p class="status-3">chưa xác định</p>
		</div>
		<div class="box-item-show-part-2"><i class="fas fa-user"><a href="#">
					<p class="author">Author </p>
				</a></i>
			<p class="time-1">6 months ago</p>
		</div>
		<div class="box-item-show-part-3"><i class="fa fa-cog"> <a href="#">
					<p class="config">Edit</p>
				</a></i>
			<p class="time-2">6 months ago</p>
		</div>
	</div>
</li>
